<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/neo4j http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd">

    <!--<neo4j:repositories base-package="pl.cydo.neo.navigator.business.repository"/>-->
    <neo4j:repositories base-package="pl.cydo.neo.navigator.business.repository"/>
    <context:annotation-config/>
    <neo4j:config
            storeDirectory="/db/neo4j"
            base-package="pl.cydo.neo.navigator.model.map.service.category"/>
    <neo4j:repositories base-package="pl.cydo.neo.navigator.business.repository"/>

    <!--<context:annotation-config/>-->
    <!--&lt;!&ndash;<neo4j:config/>&ndash;&gt;-->
    <!--<neo4j:config storeDirectory="target/data/db" base-package="pl.cydo.neo.navigator.business.repository"/>-->

    <!--<bean id="neo4jTransactionManager"-->
          <!--class="org.springframework.transaction.jta.JtaTransactionManager">-->
        <!--<property name="transactionManager">-->
            <!--<bean class="org.neo4j.kernel.impl.transaction.SpringTransactionManager">-->
                <!--<constructor-arg ref="graphDatabaseService"/>-->
            <!--</bean>-->
        <!--</property>-->
        <!--<property name="userTransaction">-->
            <!--<bean class="org.neo4j.kernel.impl.transaction.UserTransactionImpl">-->
                <!--<constructor-arg ref="graphDatabaseService"/>-->
            <!--</bean>-->
        <!--</property>-->
        <!--<property name="allowCustomIsolationLevels" value="true"/>-->
    <!--</bean>-->

</beans>